<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<!-- 配置文件读取 -->
	<appSettings>
		<!-- 在搜索资源平台验证的站点 -->
		<add key="site" value="https://qsh5.cn" />
		<!-- 在搜索资源平台申请的推送用的准入密钥 -->
		<add key="token" value="" />
		<!-- 推送数据接口 -->
		<add key="urls" value="http://data.zz.baidu.com/urls?" />
		<!-- 更新数据接口 -->
		<add key="update" value="http://data.zz.baidu.com/update?" />
		<!-- 删除数据接口 -->
		<add key="del" value="http://data.zz.baidu.com/del?" />
	</appSettings>
</configuration>
